html {
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

/*=======  PORTADA  =======*/

.portada {
    margin: auto;
    height: 100%;
    background: linear-gradient(to right, hsla(108, 95%, 44%, 0.527), #4491258a), url(https://media.traveler.es/photos/61376362652b2e41f8dce040/master/w_1600%2Cc_limit/185030.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.portada-texto > h1 {
    text-align: center;
    font-size: 100px;
}

.portada-texto > h2 {
    text-align: center;
    font-size: 40px;
}


/*===== NAV ======*/

nav {
    text-align: center;
    margin: auto;
    width: 100%;
    height: 100%;
    background-color:rgb(5, 109, 28);
    padding-top: 5px;
    padding-bottom: 5px
}

nav > a {
    text-decoration: none;
    color: black;
    padding-left: 10px ;
    padding-right: 10px ;
    margin: 2px;
    font-size: 30px;
    background-color: rgb(9, 255, 0);
    border: 0.5px solid black;
}

nav > a:hover {
    background-color: rgba(6, 221, 71, 0.692);
}

/*========== CONTENIDO MAIN1 ============*/

.contenido-m1 {
    margin: auto;
    display: flex;
    width: 1200px;
}

.imagen-m1 > img {
    width: 40rem;
    padding: 10px;
}

.texto-m1 > h1 {
    font-size: 3rem;
    text-align: left;
    padding: 1rem;
}

.texto-m1 > p {
    font-size: 1rem;
}

/*========== CONTENIDO MAIN2 ============*/

.main2 {
    margin: auto;
    max-width: 1200px;
}

.habitaciones-m2 {
    display: flex;
}

.habitaciones-m2 > p{
    height: 100%;
    padding: 10px;
}

.habitaciones-m2, p > img {
    width: 25rem;
    padding: 2px;
    height: 100%;
    box-shadow: 0 0 10px 0, rgba(0, 0, 0, 0.8);
}

.texto-m2 > p {
    font-size: 1rem;
}

.texto-m2 > h1 {
    font-size: 3rem;
}

/*========== CONTENIDO MAIN3 IMAGENES Y PAISAJES ============*/

.main3 {
    margin: auto;
    max-width: 1200px;
}

.texto-m3 > h1 {
    text-align: center;
    font-size: 3rem;
}

.imagenes-m3 {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.imagenes-m3 > img{
    width: 32%;
    padding: 1px;
    transition: 0.5s ease-in;
}

.imagenes-m3 > img:hover {
    width: 33.5%;
    box-shadow: 0 0 10px 0, rgba(0, 0, 0, 0.8);
    padding: 0px;
}

/*========== CONTENIDO MAIN4 ACTIVIDADES Y GASTRONOMIA ============*/

.main4 {
    margin: auto;
    max-width: 1200px;
}

.actividades-m4 > h1 {
    font-size: 3rem;
}

.contenido-m4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 15px;
}
    
.img1-m4 { 
    grid-area: 1 / 1 / 2 / 2; 
}
.img2-m4 { 
    grid-area: 2 / 1 / 3 / 2; 
}
.img3-m4 { 
    grid-area: 3 / 1 / 4 / 2; 
}
.contenido-texto-m4 { 
    grid-area: 1 / 2 / 4 / 3; 
}

/*========== CONTENIDO FOOTER ============*/

footer {
    background-color:hsla(108, 95%, 44%, 0.733);
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 1rem
}